<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous"/>
    <title>Вход</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <form class="d-flex justify-content-center flex-column" name="f" th:action="@{/login}" method="post">
            <legend class="text-center">Пожалуйста, войдите</legend>
            <div class="text-center text-danger bg-light p-2 my-1 border border-danger rounded" th:if="${param.error}">Неверные имя пользователя или пароль</div>
            <div class="text-center text-danger bg-light p-2 my-1 border border-danger rounded" th:if="${param.logout}">Был выполнен выход</div>
            <div class="form-group my-2">
                <label for="username">Имя пользователя</label>
                <input class="form-control" type="text" id="username" name="username" placeholder="введите имя пользователя">
            </div>
            <div class="form-group my-2">
                <label for="password">Пароль</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="введите пароль">
            </div>
            <button type="submit" class="btn btn-primary my-2">Войти</button>
        </form>
        <a class="link-primary" th:href="@{/register}">Регистрация</a>
    </div>
</body>
</html>