<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous"/>
    <title>Вход</title>
</head>
<body>
    <div class="container">
        <form name="f" th:action="@{/login}" method="post">
            <fieldset>
                <legend>Пожалуйста, войдите</legend>
                <div th:if="${param.error}">Неверные имя пользователя или пароль</div>
                <div th:if="${param.logout}">Был выполнен выход</div>
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" name="username" placeholder="введите имя пользователя">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="введите пароль">
                <div class="form-actions">
                    <button type="submit" class="btn">Войти</button>
                </div>
            </fieldset>
        </form>
        <a th:href="@{/register}">Регистрация</a>
    </div>
</body>
</html>