<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous"/>
    <title th:text="${part.type}">Деталь</title>
</head>
<body>
    <header th:insert="blocks/header"></header>

    <div class="container">
        <h3 th:text="${part.type}" />
        <h4 th:text="${part.originalModel}" />
        <p th:text="${part.supplier}" />
        <h3 th:text="${part.price}" />
        <a th:href="'/add-to-cart/' + ${part.id}">Добавить в корзину</a>

        <h3>Заменители</h3>
        <div th:each="replacePart : ${replaceParts}" class="replaces">
            <p th:text="${replacePart.originalModel}" />
            <h5 th:text="${replacePart.price}" />
            <a th:href="'/part/'+${replacePart.id}">Деталь</a>
        </div>
    </div>

    <footer></footer>
</body>
</html>