<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous"/>
    <title>Поиск запчастей</title>
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    <div class="d-flex align-items-center mt-5 flex-column">
        <form class="d-flex mt-5 justify-content-center align-items-center flex-column" th:action="@{/search}">
            <legend class="text-center pb-4">Добро пожаловать на страницу поиска детали</legend>
            <div class="form-group my-2 w-100">
                <label for="search">Модель авто</label>
                <input class="form-control" id="search" type="search" placeholder="введите модель авто" name="modelName" >
            </div>
            <button type="submit" class="btn btn-outline-primary btn-lg w-50 mt-5">Поиск</button>
        </form>
    </div>
    <footer></footer>
</body>
</html>